/* ===== Global ===== */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #111;
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ===== Navbar ===== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: #1c1c1c;
}

.navbar .logo h1 {
    font-size: 24px;
    font-weight: bold;
}


.navbar .right ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar .right ul li a {
    color: #fff;
    font-weight: 500;
    transition: color 0.3s;
}

.navbar .right ul li a:hover,
.navbar .right ul li a.active {
    color: #0000ff;
}

/* ===== Film Section ===== */
.film-section {
    padding: 20px 5%;
}

.film-section h2 {
    margin-bottom: 15px;
    font-size: 24px;
    text-align: left;
}

/* ===== Grid des films ===== */
.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 90px;
    margin-top: 50px;
}

.movie-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.movie-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.4);
}


/* Barre de recherche esthétique */
.search-container {
    text-align: center;
    margin: 20px 0; /* espace autour de la barre */
}

.search-container input {
    width: 50%; /* largeur de la barre */
    max-width: 400px; /* largeur maximale */
    padding: 12px 20px; /* espace intérieur */
    font-size: 16px;
    border-radius: 25px; /* arrondi complet */
    border: none;
    background-color: #2c2c2c; /* fond légèrement plus clair que la page */
    color: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3); /* ombre subtile */
    transition: all 0.3s ease;
}

.search-container input::placeholder {
    color: #aaa; /* couleur douce pour le placeholder */
}

.search-container input:focus {
    outline: none;
    background-color: #3b3b3b; /* léger changement de fond au focus */
    box-shadow: 0 4px 15px rgba(0,0,0,0.5); /* ombre plus prononcée au focus */
    transform: scale(1.02); /* effet léger de zoom au focus */
}
